.light_square {
  background-color: rgb(224, 214, 214);
}
.dark_square {
  background-color: green;
}
.possible_square_padding {
  box-sizing: border-box;
  padding: 1rem;
  
}
.possible_square_eat_padding {
  box-sizing: border-box;
  padding: 0rem;
  
}
.possible_square {
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  border-radius: 100vmin;
}
.possible_square_eat {
  background-color: transparent;
  opacity: 0.2;
  border-radius: 100vmin;
  border: 4px solid rgb(0, 0, 0);

  /* to make border grow inside */
  box-sizing: border-box;
  padding: 4px;
}

.parent-full-size {
  width: 100%;
  height: 100%;
}

.selected-square-shade {
  background-color: rgb(0,0,0);
  opacity: 0.125;
}

.abs-tl {
  position: absolute;
  top: 0;
  left:0;
}
.abs-bl {
  position: absolute;
  bottom: 0;
  left:0;
}
.abs-br {
  position: absolute;
  right: 0;
  bottom:0;
}
.abs-tr {
  position: absolute;
  top: 0;
  right:0;
}

.relative {
  position: relative;
}

.piece_image_padding {
  box-sizing: border-box;
  padding: 0.1rem;
}

.square_size {
  height: 4rem;
  width: 4rem;
}



#board {
  display: flex;
  flex-flow: column;
  
}

.row {
  display: flex;
}

button {
    
}