.light_square {
  background-color: rgb(224, 214, 214);
}
.dark_square {
  background-color: green;
}
.possible_square {
  background-color: rgb(255, 204, 0);
}
.light_selected_square {
  background-color: rgb(126, 126, 126);
}
.dark_selected_square {
  background-color: rgb(0, 90, 0);
}

.square_size {
  height: 4rem;
  width: 4rem;
}



#board {
  display: flex;
  flex-flow: column;
  
}

.row {
  display: flex;
}

button {
    
}